@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

.aboutContainer {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: row;

  .title {
    height: 100%;
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    h1 {
      font-size: 6rem;
      color: white;
    }
    @media screen and (max-width: 1080px) {
      h1 {
        font-size: 4rem;
      }
    }
    @media screen and (max-width: 780px) {
      h1 {
        font-size: 3rem;
      }
    }
    @media screen and (max-width: 580px) {
      h1 {
        font-size: 3rem;
      }
    }
  }
  @media screen and (max-width: 580px) {
    .title {
      height: 40%;
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .aboutParagraph {
    height: 100%;
    width: 50%;
    color: white;
    text-align: justify;

    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      width: 70%;
      padding: 4%;
      padding-bottom: 1%;
      display: flex;
      justify-content: space-between;

      font-size: 1.5rem;

      color: white;
    }
    @media screen and (max-width: 1080px) {
      p {
        font-size: 1.2rem;
        width: 70%;
      }
    }
    @media screen and (max-width: 780px) {
      p {
        font-size: 1.3rem;
        width: 70%;
      }
    }
  }
  @media screen and (max-width: 580px) {
    .aboutParagraph {
      height: 60%;
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }
}
@media screen and (max-width: 580px) {
  .aboutContainer {
    flex-direction: column;
  }
}
