@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
.aboutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutContainer h1 {
  font-size: 6rem;
  color: white;
}

.aboutContainer .profil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 50%;
  width: 60%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.aboutContainer .profil .Pp {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aboutContainer .profil .Pp .photo {
  height: 100%;
  width: 100%;
  border: 0.5px solid white;
  background-image: url(../assets/pp.jpg);
  background-size: 150%;
  background-position: center;
}

.aboutContainer .profil .Pp .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding: 5%;
  font-size: 1.3rem;
  color: white;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.aboutContainer .profil .aboutParagraph p {
  padding: 4%;
  padding-bottom: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.5rem;
  color: white;
}

@media screen and (max-width: 580px) {
  .aboutContainer h1 {
    display: none;
  }
  .aboutContainer .profil {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutContainer .profil .Pp {
    height: 40%;
    width: 70%;
  }
  .aboutContainer .profil .Pp .photo {
    width: 100%;
    height: 100%;
    margin-bottom: 5%;
  }
  .aboutContainer .profil .Pp .name {
    height: 30%;
    width: 70%;
    display: contents;
  }
  .aboutContainer .profil .aboutParagraph {
    width: 80%;
  }
  .aboutContainer .profil .aboutParagraph p {
    font-size: 1.2rem;
  }
}
/*# sourceMappingURL=about.css.map */