.contactContent {
  height: 100vh;
  width: 100vw;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  .title {
    font-size: 5rem;
  }
  .info {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    .text {
      font-size: 1.2rem;
      width: 40%;
      text-align: justify;
      ul {
        list-style: none;
        font-size: 1.5rem;
        padding-left: 0%;
        li {
          padding-bottom: 5%;
          a {
            color: white;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 580px) {
  .contactContent {
    flex-direction: column;
    justify-content: center;
    .title {
      font-size: 2rem;
    }
    .info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: auto;
      .text {
        font-size: 1.2rem;
        width: auto;
        text-align: center;
        padding-top: 10%;
      }
      ul {
        width: auto;
        list-style: none;
        text-align: center;
        padding: 0%;
        li {
          padding-top: 10%;
          width: auto;
          a {
            color: white;
          }
        }
      }
    }
  }
}
