@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

.skillsContainer {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .section {
    width: 90vw;
    color: white;

    display: flex;
    justify-items: space-between;
    flex-direction: column;
    align-items: center;

    h2 {
      font-size: 4rem;
      padding: 3%;
    }
    @media screen and (max-width: 1080px) {
      h2 {
        font-size: 4rem;
      }
    }
    @media screen and (max-width: 780px) {
      h2 {
        font-size: 3rem;
      }
    }
    @media screen and (max-width: 580px) {
      h2 {
        font-size: 2rem;
      }
    }
  }
  @media screen and (max-width: 1080px) {
    .section {
      height: 35%;
    }
  }
  @media screen and (max-width: 780px) {
    .section {
      height: 35%;
    }
  }
  @media screen and (max-width: 580px) {
    .section {
      height: 35%;
    }
  }

  .content {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    p {
      width: 20%;
    }
    ul {
      list-style: none;
    }
  }
  @media screen and (max-width: 1080px) {
    .content {
      font-size: 1.2rem;
      p {
        width: 20%;
      }
    }
  }
  @media screen and (max-width: 780px) {
    .content {
      font-size: 1.2rem;
      p {
        width: 40%;
      }
    }
  }
}
