@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

.skillsContainer {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: center;

  .section {
    width: 30%;
    color: white;
    display: flex;

    flex-direction: column;
    align-items: center;
    align-self: center;

    h2 {
      font-size: 4rem;
      margin-bottom: 10%;
    }
    .content {
      display: flex;
      justify-content: center;
      font-size: 1.5rem;

      p {
        width: 50%;
      }
      ul {
        list-style: none;
        width: 30%;
        padding-left: 10%;
      }
    }
  }
}
@media screen and (max-width: 580px) {
  .skillsContainer {
    .section {
      width: 100%;
      height: auto;
      h2 {
        font-size: 2rem;
      }
      .content {
        flex-direction: column;
        font-size: 1.2rem;
        justify-items: center;
        justify-content: space-between;
        align-items: center;

        p {
          width: 80%;
          text-align: center;
        }
        ul {
          height: auto;
          width: auto;
          padding: 5%;
        }
      }
    }
  }
}
